.DS_Store
.env*
!.env.example
test.*
web/app/public
.mlop/
ingest/target


web/.turbo
web/.DS_Store
web/*.local
web/*.log*
web/node_modules
web/dist/
web/.vinxi
web/.output
web/.vercel
web/.netlify
web/.wrangler
web/*.env*
web/!.env.example

py/__pycache__
py/.DS_Store
py/.cache
py/.env
py/.env.*
py/!.env.example
py/test.ipynb
py/.tmp
py/.mlop
