version: '3'

services:
  ingest:
    image: mlop-ingest:latest
    build: null

  backend:
    image: mlop-backend:latest
    build: null

  frontend:
    image: mlop-frontend:latest
    build: null

  py:
    image: mlop-py:latest
    build: null
